In [ ]:
Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [ ]:
 A database is an organized collection of structured information or data that is stored and managed on a computer system. It is designed to efficiently store, retrieve, and manipulate large amounts of data, allowing users or applications to access and manage the information easily.

In [ ]:
SQL databases are based on the relational model, which organizes data into tables with predefined schemas. These databases use a schema that defines the structure of the data, including tables, columns, and relationships between tables.

In [ ]:
NoSQL databases, on the other hand, use a variety of data models, including key-value pairs, documents, graphs, or columnar formats. These databases are more flexible and schema-less, allowing for dynamic and unstructured data.

In [ ]:
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [ ]:
DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) that is used to define and manage the structure of a database and its objects.

In [ ]:
CREATE: The CREATE statement is used to create new database objects, such as tables, views, indexes, or procedures.

In [ ]:
CREATE TABLE Employees (
  EmployeeID INT PRIMARY KEY,
  Name VARCHAR(50),
  Department VARCHAR(50)
);

In [ ]:
DROP: The DROP statement is used to delete existing database objects, such as tables, views, or indexes.

In [ ]:
DROP TABLE Employees;

In [ ]:
ALTER: The ALTER statement is used to modify the structure of an existing database object. It allows you to add, modify, or delete columns, constraints, or indexes.

In [ ]:
ALTER TABLE Employees
ADD Salary DECIMAL(10,2);

In [ ]:
TRUNCATE: The TRUNCATE statement is used to remove all rows from a table, while keeping the table structure intact. It is faster than the DELETE statement, as it deallocates the data pages, effectively resetting the table.

In [ ]:
TRUNCATE TABLE Employees;

In [ ]:
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [ ]:
 DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) that is used to manipulate data within the database.

In [ ]:
INSERT: The INSERT statement is used to add new records or rows into a table. It allows you to specify the values to be inserted for each column or provide values derived from another query.

In [ ]:
INSERT INTO Employees (EmployeeID, Name, Department)
VALUES (1, 'John Doe', 'IT');

In [ ]:
UPDATE: The UPDATE statement is used to modify existing data in a table. It allows you to update one or more columns of one or more rows based on specified conditions.

In [ ]:
UPDATE Employees
SET Department = 'Finance'
WHERE EmployeeID = 1;

In [ ]:
DELETE: The DELETE statement is used to remove one or more rows from a table based on specified conditions. It allows you to delete specific records or all records from a table.

In [ ]:
DELETE FROM Employees
WHERE EmployeeID = 1;

In [ ]:
Q4. What is DQL? Explain SELECT with an example.

In [ ]:
 DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) that is used to retrieve data from a database. DQL statements are primarily focused on querying and retrieving information from the database tables.

In [ ]:
SELECT: The SELECT statement is used to retrieve data from one or more database tables. It allows you to specify the columns to be retrieved, the table(s) to query, and any conditions or filters to apply.

In [ ]:
SELECT  column1, column2, ...
FROM table_name
WHERE condition;

In [ ]:
Q5. Explain Primary Key and Foreign Key.

In [ ]:
A primary key is a column or a combination of columns in a table that uniquely identifies each row or record in that table.
Its main purpose is to ensure data integrity and provide a way to uniquely identify and access individual rows within a table.

In [ ]:
A foreign key is a column or a set of columns in a table that refers to the primary key of another table. It establishes a relationship between two tables, known as a parent-child relationship.

In [ ]:
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [2]:
import mysql.connector


connection = mysql.connector.connect(
  host="localhost",
  user="your_username",
  password="your_password",
  database="your_database"
)


cursor = connection.cursor()

cursor.execute("SELECT * FROM employees")

results = cursor.fetchall()

for row in results:
    print(row)

cursor.close()
connection.close()

ModuleNotFoundError: No module named 'mysql'

In [ ]:
A cursor is an object that allows you to execute SQL queries and fetch results from the database.
The cursor() method is called on the database connection object to create a new cursor.

In [ ]:
The execute() method of the cursor object is used to execute SQL queries.

In [ ]:
Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
SELECT: The SELECT clause is executed first.
FROM: The FROM clause is executed after the SELECT clause. It specifies the table(s) from which the data will be retrieved.
WHERE: The WHERE clause is executed after the FROM clause.
GROUP BY: The GROUP BY clause is executed after the WHERE clause (if present). 
HAVING: The HAVING clause is executed after the GROUP BY clause.
ORDER BY: The ORDER BY clause is executed after the HAVING clause (if present). It is used to sort the result set based on specified columns.
LIMIT/OFFSET: The LIMIT/OFFSET clause is executed last.

In [ ]:
The order of execution may vary depending on the clauses used and the specific requirements of the query.